@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
}

/* Geral Settings */

:root { 
    --main-color: rgb(118, 49, 216);
    --main-color-darker: rgb(96, 39, 175);
    --gradient: linear-gradient(90deg,rgba(77, 54, 208, 1) 0%,rgba(132, 116, 254, 1) 100%);
    --second-color: rgb(255, 0, 68);
    --white-color: #FFF;
}

h1 {
    color: var(--main-color);
    font-size: 4rem;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* Script settings */
.hidden {
    display: none !important;
}

.btn {
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    color: var(--white-color);
    border: 1px solid transparent;
    font-weight: 700;
    border-radius: 1em;
    font-size: 1rem;
    box-shadow: 0 0.7em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
    background-color: transparent;
    transition: all .2s ease-in-out;
    background: var(--gradient);


}

.btn:hover {
    border-color: #f4f5f2;
    transform: scale(1.05);
}




/* HOME SECTION */
#home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-container {
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

/* CASE SELECTION SECTION */

#case-section {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.case-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.case-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.selection-case-container {
    display: flex;
    max-width: 1090px;
    gap: 25px;
    flex-wrap: wrap;
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 25px;
    
}
.selection-case-container::-webkit-scrollbar {
  width: 10px;
}

/* O fundo por onde a barra corre */
.selection-case-container::-webkit-scrollbar-track {
  background: #ffffff; /* Cor escura de fundo */
  border-radius: 5px;
}

/* A "alça" que você arrasta */
.selection-case-container::-webkit-scrollbar-thumb {
  background: var(--main-color); /* Cor da barra */
  border-radius: 5px;
}

/* Quando passa o mouse em cima da alça */
.selection-case-container::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-darker); /* Cor ao passar o mouse */
}
.case-option {
    width: 250px;
    height: 250px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid var(--main-color);
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(141, 74, 234, 0.448);
    transition: all .2s ease-in-out;
}
.case-option img {
    width: 50%;
}
.case-option:hover {
    transform: scale(1.05);
}
.price-content {
    color: var(--white-color);
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    transition: all .2s ease-in-out;
    background: var(--gradient);
}


@media (max-width: 768px) {
    #home-section {
        box-sizing: border-box;
        padding: 35px;
    }
    #case-section {
        box-sizing: border-box;
        padding: 20px;
    }
    .case-option {
        width: 100%;
    }
}