@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
}

/* Geral Settings */

:root {
    --main-color: rgb(118, 49, 216);
    --main-color-darker: rgb(96, 39, 175);
    --second-color: rgb(255, 0, 68);
    --white-color: #FFF;
}

h1 {
    color: var(--main-color);
    font-size: 4rem;
}

/* Script settings */
.hidden {
    display: none !important;
}

.btn {
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    color: var(--white-color);
    border: 1px solid transparent;
    font-weight: 700;
    border-radius: 1em;
    font-size: 1rem;
    box-shadow: 0 0.7em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
    background-color: transparent;
    background: linear-gradient(90deg,
            rgba(77, 54, 208, 1) 0%,
            rgba(132, 116, 254, 1) 100%);

}

.btn:hover {
    border-color: #f4f5f2;
}



/* HOME SECTION */
#home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-container {
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}