@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
}

/* Geral Settings */

:root { 
    --main-color: rgb(118, 49, 216);
    --main-color-darker: rgb(96, 39, 175);
    --gradient: linear-gradient(90deg,rgba(77, 54, 208, 1) 0%,rgba(132, 116, 254, 1) 100%);
    --second-color: rgb(255, 0, 68);
    --white-color: #FFF;
}

h1 {
    color: var(--main-color);
    font-size: 4rem;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.btn {
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    color: var(--white-color);
    border: 1px solid transparent;
    font-weight: 700;
    border-radius: 1em;
    font-size: 1rem;
    box-shadow: 0 0.7em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
    background-color: transparent;
    transition: all .2s ease-in-out;
    background: var(--gradient);
}

.btn:hover {
    border-color: #f4f5f2;
    transform: scale(1.05);
}

/* Script settings */
.hidden {
    display: none !important;
}

/* HOME SECTION */
#home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-container {
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

/* CASE SELECTION SECTION */

#case-section {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.case-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.case-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.selection-case-container {
    display: flex;
    max-width: 1090px;
    gap: 25px;
    flex-wrap: wrap;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 25px;
    
}
.selection-case-container::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar settings */
.selection-case-container::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}
.selection-case-container::-webkit-scrollbar-thumb {
  background: var(--main-color); 
  border-radius: 5px;
}
.selection-case-container::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-darker); 
}

.case-option {
    width: 250px;
    height: 250px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid var(--main-color);
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(141, 74, 234, 0.448);
    transition: all .2s ease-in-out;
}
.case-option img {
    width: 50%;
}
.case-option:hover {
    transform: scale(1.05);
}
.price-content {
    color: var(--white-color);
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    transition: all .2s ease-in-out;
    background: var(--gradient);
}

/* ASSEMBLY SECTION */

#assembly-section {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.assembly-container {
    width: 90%;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.assembly-title {
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    flex-direction: column;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);

    gap: 15px;
    height: 500px; 
    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.pc-preview {
    grid-column: 2;
    grid-row: 1 / span 3; 
    
    border-radius: 10px;
    border: 3px solid var(--main-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    box-sizing: border-box;
    gap: 20px;
}

.label-pc-preview {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0px 0px 7px 7px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: var(--gradient);
    padding: 15px;
    color: var(--white-color);
}
.pc-preview img {
    width: 80%;
}
.component {
    width: 100%;
    border: 3px dashed var(--main-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


@media (max-width: 768px) {
    #home-section {
        box-sizing: border-box;
        padding: 35px;
    }
    #case-section {
        box-sizing: border-box;
        padding: 20px;
    }
    .case-option {
        width: 100%;
    }
}